body{
    text-align: center;
}

nav {
    height: 90px;
    width: auto;
    background-color: lightblue;
    text-align: center;
}

ul{
    padding-top: 30px;
}

li{
    display: none;
    display: inline;
    margin-left: 10%;
    margin-right: 10%;
}

.divNoir{
    display: inline-block;
    height: auto;
    width: 40%;
    border: 10px solid black;

}

.divRouge{
    display: inline-block;
    height: auto;
    width: 40%;
    border: 10px ridge red;
}

.divNoir p:nth-child(3){
    color: blue;
}

.divRouge p:nth-child(5){
    color: red;
}